<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Snippets</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="navbar">
    <div>CodeVault</div>
    <div>
        <a href="/dashboard">Dashboard</a>
        <a href="/snippets" class="active">Snippets</a> 
        <button onclick="toggleTheme()">🌙</button>
    </div>
</div>

<div class="container">

<h2>Your Snippets</h2>

<a href="/snippets/add">
    <button>Add New Snippet</button>
</a>
<br><br>
<form action="/snippets/search" method="get">
    <input type="text" name="title" placeholder="Search by title" class="search-box">
    <input type="text" name="language" placeholder="Filter by language" class="search-box">
    <button type="submit">Search</button>
</form><br>

<p th:if="${#lists.isEmpty(snippets)}">
    No snippets yet 😢
</p>

<div th:each="snippet : ${snippets}" class="card">
    <h3 th:text="${snippet.title}"></h3>
    <p><b>Language:</b>
        <span th:text="${snippet.language}"></span>
    </p>
    <pre>
        <code th:text="${snippet.code}"></code>
    </pre>
    <br>

    <a th:href="@{'/snippets/favorite/' + ${snippet.id}}">
        <button>
            <span th:text="${snippet.favorite} ? '⭐ Favorite' : '☆ Favorite'"></span>
        </button>
    </a>

    <a th:href="@{'/snippets/edit/' + ${snippet.id}}">
        <button>Edit</button>
    </a>

    <a th:href="@{'/snippets/delete/' + ${snippet.id}}">
        <button>Delete</button>
    </a>

    <a th:href="@{'/snippets/export/' + ${snippet.id}}">
        <button>Export</button>
    </a>

</div>
</div>
<script src="/js/script.js"></script>
</body>
</html>